<!DOCTYPE html>
<html lang="en">
<head>

   {{>headerLinks}}
   
</head>
<body>

    {{>navbar}}

    <div class="containter-fluid main_header" >
        <div class = "row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class ="col-md-6 col-12 main_header_right <i class="fa fa-align-center" aria-hidden="true"></i>">
                        <figure>
                            <img src="./images/IMG_20211002_071822.jpg" alt="Image" class="img-fluid" title="prasad techinical">
                        </figure>
                    </div>
                    <div class ="col-md-6 col-12 main_header_left">
                        <p>welcome to weather app</p>
                        <h1>I Am a New <span class ="text-clr">Learner</span> And  CSE Student At IIIT Nuzvidu</h1>
                        <a href="https://intranet.rguktn.ac.in/SMS/usrphotos/user/N200072.jpg" target="_blank"><button>About Me</button></a>
                    </div>
                    

                </div>
            </div>
        </div>
    </div>

    {{>footer}}

</body>
</html>